In [1]:
import pandas as pd

### Pandas DataFrame To List
Converting your data from a dataframe to a list of lists can be helpful when working with other libraries. We don't use it too often, but it is a simple operation.


Examples we'll run through:
1. Converting a DataFrame to a list
2. Converting a Series to a list

First let's create a DataFrame

In [2]:
df = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df

             name        type  AvgBill
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    224.0
2        500 Club         bar     80.5
3      The Square         bar     25.3

### 1. Converting a DataFrame to a list
In order to convert a DataFrame to a list we first need to extract the 'values' from the DataFrame. The old way of doing this was done via df.values() however Pandas now [recommends](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.values.html) using [.to_numpy()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_numpy.html#pandas.DataFrame.to_numpy) instead.

We'll get an error if we try calling .tolist() right on the DataFrame.

In [3]:
try:
    df.tolist()
except AttributeError:
    print ("You have an error")

You have an error

So we turn the DataFrame into a numpy array first with .to_numpy()

In [4]:
df.to_numpy()

array([['Foreign Cinema', 'Restaurant', 289.0],
       ['Liho Liho', 'Restaurant', 224.0],
       ['500 Club', 'bar', 80.5],
       ['The Square', 'bar', 25.3]], dtype=object)

In [5]:
df.to_numpy().tolist()

[['Foreign Cinema', 'Restaurant', 289.0],
 ['Liho Liho', 'Restaurant', 224.0],
 ['500 Club', 'bar', 80.5],
 ['The Square', 'bar', 25.3]]

### 2. Converting a Series to a list
Next up is converting a series to a list. This time we don't have to call .to_numpy() on our series.

In [6]:
df['name'].tolist()

['Foreign Cinema', 'Liho Liho', '500 Club', 'The Square']