In [1]:
import pandas as pd

### Pandas Sum
We will run through 3 examples:
1. Summing across rows
2. Summing across columns
3. Multi Level Index Sum
4. Summing a Series

But first, let's create our DataFrame

In [6]:
df = pd.DataFrame([(234.0, 289.0),
                   (135.0, 224.0),
                   (23.0, 80.5),
                   (53.0, 25.30)],
           columns=('AvgBill1', 'AvgBill2')
                 )
df

   AvgBill1  AvgBill2
0     234.0     289.0
1     135.0     224.0
2      23.0      80.5
3      53.0      25.3

### 1. Summing across rows

Let's sum across rows. In order to do this I need to set my axis=0. This feels a bit counter intuitive because columns are returned. Remember, you're summing your columns *across* your rows.

In [10]:
df.sum(axis=0)

AvgBill1    445.0
AvgBill2    618.8
dtype: float64

### 2. Summing across columns

Let's sum across columns. In order to do this I need to set my axis=1.

Notice how I've summed *across* my columns, and the result is the total of each row.

In [12]:
df.sum(axis=1)

0    523.0
1    359.0
2    103.5
3     78.3
dtype: float64

### 3. Multi Level Index Sum
If you have a multi level index, then you can tell pandas which index you'd like to sum across.

Let's make a multi level DataFrame first.

In [21]:
data = (['Apple','Red',3,1.29],
        ['Apple','Green',9,0.99],
        ['Pear','Red',25,2.59],
        ['Pear','Green',26,2.79],
        ['Lime','Green',99,0.39])
df = pd.DataFrame(data, columns=['Fruit','Color','Count','Price'])
df = df.set_index(['Fruit', 'Color'])
df

             Count  Price
Fruit Color
Apple Red        3   1.29
      Green      9   0.99
Pear  Red       25   2.59
      Green     26   2.79
Lime  Green     99   0.39

Now let's sum across each level and see what we get. Notice that depending on the level we choose, we will get different values we sum on.

In [22]:
df.sum(level=0)

       Count  Price
Fruit
Apple     12   2.28
Pear      51   5.38
Lime      99   0.39

In [23]:
df.sum(level=1)

       Count  Price
Color
Red       28   3.88
Green    134   4.17

### 4. Summing a Series
And of course, the true and tested .sum() on a series.

In [26]:
df['Price'].sum()

8.05