In [1]:
import pandas as pd

### Pandas Set Values

We will run through 4 examples:
1. Get - Referencing a cell via .at[]
2. Set - Setting a cell via .at[]
3. Get - Referencing a cell via .iat[]
4. Set - Setting a cell via .iat[]

First, let's create our DataFrame

In [9]:
df = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df

             name        type  AvgBill
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    224.0
2        500 Club         bar     80.5
3      The Square         bar     25.3

### 1. Get - Referencing a cell via .at[]

In order to reference a cell (to see what it is) using .at[] you'll need to know the row and column labels. The labels are what the index of the row and column *actually say* (vs what position they are in).

Here I'm calling the cell in row index label '2' and column index label 'AvgBill'

In [11]:
df.at[2, 'AvgBill']

80.5

### 2. Set - Setting a cell via .at[]

In order to set (update) a cell using .at[] you'll need to know the row and column labels again. Then you'll need to apply the assign operator ("=") to update the value to something else.

Here I'm calling the cell in row index label '2' and column index label 'AvgBill' and updating it to 101. This will update in place.

In [12]:
df.at[2, 'AvgBill'] = 101
df

             name        type  AvgBill
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    224.0
2        500 Club         bar    101.0
3      The Square         bar     25.3

### 3. Get - Referencing a cell via .iat[]

In order to reference a cell (to see what it is) using .iat[] you'll need to know the row and column *index positions*. The positions are integers and represent where the row/column sits within your DataFrame/Series. 

Each index spot has a label and a position. Sometimes they are the same, but sometimes they aren't.

In [13]:
df.iat[1, 2]

224.0

### 4. Set - Setting a cell via .iat[]

Finally, in order to set a value with .iat[] you'll need to use the assign operator ("=") again with the index positions.

Here I'm going to update the 2nd row (row index position 1) at the "AvgBill" column (column index position 2). This will update in place.

In [15]:
df.iat[1, 2] = 333
df

             name        type  AvgBill
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    333.0
2        500 Club         bar    101.0
3      The Square         bar     25.3