In [1]:
import pandas as pd

### Start with a dictionary of data
Creating a dataframe from a dictionary is easy and flexible. Let's look at two ways to do it here:
1. Method 1 - Orient (default): columns = If you want the keys of your dictionary to be the DataFrame column names
2. Method 2 - Orient: index = If the keys of your dictionary should be the index values. You'll need to be explicit about column names.

### Method 1 - Orient (default): columns = If you want the keys of your dictionary to be the DataFrame *column names*
First create a dictionary of data where the keys are your column names. Here my column names will be 1) Name 2) Type 3) AvgBill

In [2]:
dict_data_column_keys = {
     "Name": ["Liho Liho", "500 Club", "Foreign Cinema", "The Square"],
     "Type": ["Restaurant", "Bar", "Restaurant", "Bar"],
     "AvgBill": [200.45, 34.64, 180.45, 45.54] 
    }

Then call pd.DataFrame.from_dict() and pass your data in the function. Because orient=columns is the default, we do not need to specify orient below.

In [3]:
pd.DataFrame.from_dict(dict_data_column_keys)

             Name        Type  AvgBill
0       Liho Liho  Restaurant   200.45
1        500 Club         Bar    34.64
2  Foreign Cinema  Restaurant   180.45
3      The Square         Bar    45.54

Passing orient="columns" yields the same result since this is the default value

In [4]:
pd.DataFrame.from_dict(dict_data_column_keys, orient='columns')

             Name        Type  AvgBill
0       Liho Liho  Restaurant   200.45
1        500 Club         Bar    34.64
2  Foreign Cinema  Restaurant   180.45
3      The Square         Bar    45.54

### Method 2 - Orient: Rows = If the keys of your dataframe should be the DataFrame *index*
Let's again first create a dictionary, but this time the keys are your index. Here my index will be my previous "name" column and the columns will be 1) Type 2) AvgBill

In [5]:
dict_data_index_keys = {
     "Liho Liho": ["Restaurant", 200.45],
     "500 Club": ["Bar", 34.64],
     "Foreign Cinema": ["Restaurant", 180.45],
     "The Square": ["Bar", 45.54]
    }

In [6]:
pd.DataFrame.from_dict(dict_data_index_keys, orient='index')

                         0       1
Liho Liho       Restaurant  200.45
500 Club               Bar   34.64
Foreign Cinema  Restaurant  180.45
The Square             Bar   45.54

Whoops, as you can see, I don't have any column names! Make sure to specify your column names if you do orient=index

In [7]:
pd.DataFrame.from_dict(dict_data_index_keys, orient='index', columns=['Type', 'AvgBill'])

                      Type  AvgBill
Liho Liho       Restaurant   200.45
500 Club               Bar    34.64
Foreign Cinema  Restaurant   180.45
The Square             Bar    45.54