In [1]:
import pandas as pd

### Pandas To CSV

Write your DataFrame directly to file using .to_csv(). This function starts simple, but you can get complicated quickly.

1. Save your data to your python file's location
2. Save your data to a *different* location
3. Explore parameters while saving your file
4. If you don't specify a file name, Pandas will return a string

First, let's create our DataFrame

In [7]:
df = pd.DataFrame([('Foreign Cinema', 50, 289.0),
                   ('Liho Liho', 45, 224.0),
                   ('500 Club', 102, 80.5),
                   ('The Square', 65, 25.30)],
           columns=('name', 'num_customers', 'AvgBill')
                 )
df

             name  num_customers  AvgBill
0  Foreign Cinema             50    289.0
1       Liho Liho             45    224.0
2        500 Club            102     80.5
3      The Square             65     25.3

### 1. Save your data to your python file's location

To save your data as a csv to your files location, all you need to do is specify the new file name. I will also set index=false so my index does not get saved with my file

In [8]:
df.to_csv('my_new_file.csv', index=False)

Then let's check to makes sure that it saved. To do this I'll call from_csv() to read it.

In [9]:
df_saved_file = pd.read_csv('my_new_file.csv')
df_saved_file

             name  num_customers  AvgBill
0  Foreign Cinema             50    289.0
1       Liho Liho             45    224.0
2        500 Club            102     80.5
3      The Square             65     25.3

Awesome it works.

### 2. Save your data to a different location

If you wanted to save your file to a different location, all you need to do it specify the *path* of the location you want to do.

Here I'm starting my path with '...' which means 'go one folder up.' Then I'm saying '/data/' which means 'enter the data folder.' This folder is already created. If it wasn't then I would get an error.

Then finally I'm specifying my new file name 'my_new_file.csv'

In [10]:
df.to_csv('../data/my_new_file.csv', index=False)

Then let's check to make sure it is there again.

In [11]:
df_saved_file = pd.read_csv('../data/my_new_file.csv')
df_saved_file

             name  num_customers  AvgBill
0  Foreign Cinema             50    289.0
1       Liho Liho             45    224.0
2        500 Club            102     80.5
3      The Square             65     25.3

Nice!

### 3. Explore parameters while saving your file

Here I want to explore some of the parameters of to_csv(). I'm going to do two extra things 1) Subset my columns via the 'columns' parameter and 2) rename my columns via the 'header' parameter.

In [14]:
df.to_csv('my_new_file.csv',
          index=False,
          columns=['name', 'AvgBill'],
          header=['new_name', 'NewBill'])

In [15]:
df_saved_file = pd.read_csv('my_new_file.csv')
df_saved_file

         new_name  NewBill
0  Foreign Cinema    289.0
1       Liho Liho    224.0
2        500 Club     80.5
3      The Square     25.3

See above how only 2 columns were saved, and they were also renamed. This is because I specified the columns/headers parameters.

### 4. If you don't specify a file name, Pandas will return a string

Finally, let's see what happens when you don't specify a new file name. If you don't, Pandas will return a string. Watch out, this is a dangerous if your dataset is large.

In [16]:
df.to_csv()

',name,num_customers,AvgBill\n0,Foreign Cinema,50,289.0\n1,Liho Liho,45,224.0\n2,500 Club,102,80.5\n3,The Square,65,25.3\n'