In [4]:
import pandas as pd

### Pandas List To DataFrame

You may want to create a DataFrame from a list or list of lists. In this case, all you need to do is call the general pd.DataFrame() function and pass your data.

We will run through 3 examples:
1. Creating a DataFrame from a single list
2. Creating a DataFrame from multiple lists
3. Creating a DataFrame from multiple lists and specifying column names
4. Creating a DataFrame from multiple lists and specifying column names and index

But first, let's create some lists

In [8]:
list1 = ["Foreign Cinema", 50]
list2 = ["Liho Liho", 45]
list3 = ["500 Club", 102]
list4 = ["The Square", 65]

### 1. Creating a DataFrame from a single list

To start off, let's create a DataFrame from a single list. Do do this I'm going to call pd.DataFrame, then pass data=my_list.

You can see, when I pass one list, pandas returns a single column DataFrame. The list values are the row within a single column.

In [12]:
pd.DataFrame(data=list1)

                0
0  Foreign Cinema
1              50

### 2. Creating a DataFrame from multiple lists

If I wanted to create a DataFrame with multiple rows (I do this most of the time), then you just need to pass a list of lists in to *data*

In [13]:
pd.DataFrame(data=[list1, list2, list3, list4])

                0    1
0  Foreign Cinema   50
1       Liho Liho   45
2        500 Club  102
3      The Square   65

### 3. Creating a DataFrame from multiple lists and specifying column names

Next, let's specify column names. Pass your column names to the *column* parameter. Make sure that the number of columns you specify equals the number of columns in your DataFrame.

In [14]:
pd.DataFrame(data=[list1, list2, list3, list4], columns=['Name', 'num_customers'])

             Name  num_customers
0  Foreign Cinema             50
1       Liho Liho             45
2        500 Club            102
3      The Square             65

### 4. Creating a DataFrame from multiple lists and specifying column names and index

Finally, let's create a DataFrame with a specific index. To do this I'll pass a list of index labels to the *index* parameter.

In [15]:
pd.DataFrame(data=[list1, list2, list3, list4],
             columns=['Name', 'num_customers'],
             index=['res1', 'res2', 'res3', 'res4'])

                Name  num_customers
res1  Foreign Cinema             50
res2       Liho Liho             45
res3        500 Club            102
res4      The Square             65