In [47]:
import pandas as pd

### Pandas Iterate Over Rows
So you want to iterate over your pandas DataFrame rows? We'll you think you want to.

Let's run through 5 examples (in speed order):
1. DataFrame.apply()
2. DataFrame.iterrows()
3. DataFrame.itertuples()
4. Concert to DataFrame to Dictionary
5. Last resort - DataFrame.iloc

First, let's create a DataFrame

In [48]:
df = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30),
                   ('The Lighthouse', 'bar', 15.30),
                   ("Al's Place", 'Restaurant', 456.53)],
           columns=('name', 'type', 'AvgBill')
                 )
df

             name        type  AvgBill
0  Foreign Cinema  Restaurant   289.00
1       Liho Liho  Restaurant   224.00
2        500 Club         bar    80.50
3      The Square         bar    25.30
4  The Lighthouse         bar    15.30
5      Al's Place  Restaurant   456.53

### 1. DataFrame.apply()
We are first going to use pandas apply. This will run through each row and apply a function for us. I'll use a quick lambda function for this example. Make sure you're axis=1 to go through rows.

In [55]:
# Printing Name and AvgBill. In this case, "x" is a series with index of column names
df.apply(lambda x: print ("{} - {}".format(x['name'], x['AvgBill'])), axis=1)

Foreign Cinema - 289.0
Liho Liho - 224.0
500 Club - 80.5
The Square - 25.3
The Lighthouse - 15.3
Al's Place - 456.53

0    None
1    None
2    None
3    None
4    None
5    None
dtype: object

### 2. DataFrame.iterrows()
Next we are going to head over the .iter-land. We are starting with iterrows().

In [50]:
for index, contents in df.iterrows():
    print ("Index: {}".format(index))
    print ("{} - {}".format(contents['name'], contents['AvgBill']))
    print ()

Index: 0
Foreign Cinema - 289.0

Index: 1
Liho Liho - 224.0

Index: 2
500 Club - 80.5

Index: 3
The Square - 25.3

Index: 4
The Lighthouse - 15.3

Index: 5
Al's Place - 456.53

### 3. DataFrame.itertuples()
Next head over to itertupes. This will return a named tuple - a regular tuple, but you're able to reference data points by name.

In [51]:
for row in df.itertuples():
    print (row)
    print (row.name)
    print ()

Pandas(Index=0, name='Foreign Cinema', type='Restaurant', AvgBill=289.0)
Foreign Cinema

Pandas(Index=1, name='Liho Liho', type='Restaurant', AvgBill=224.0)
Liho Liho

Pandas(Index=2, name='500 Club', type='bar', AvgBill=80.5)
500 Club

Pandas(Index=3, name='The Square', type='bar', AvgBill=25.3)
The Square

Pandas(Index=4, name='The Lighthouse', type='bar', AvgBill=15.3)
The Lighthouse

Pandas(Index=5, name="Al's Place", type='Restaurant', AvgBill=456.53)
Al's Place

### 4. Concert to DataFrame to Dictionary
Now we are getting down into the desperate zone. If you really wanted to (without much reason), you can convert your DataFrame to a dictionary first and then iterate through.

In [52]:
df_dict = df.to_dict(orient='index')
df_dict

{0: {'name': 'Foreign Cinema', 'type': 'Restaurant', 'AvgBill': 289.0},
 1: {'name': 'Liho Liho', 'type': 'Restaurant', 'AvgBill': 224.0},
 2: {'name': '500 Club', 'type': 'bar', 'AvgBill': 80.5},
 3: {'name': 'The Square', 'type': 'bar', 'AvgBill': 25.3},
 4: {'name': 'The Lighthouse', 'type': 'bar', 'AvgBill': 15.3},
 5: {'name': "Al's Place", 'type': 'Restaurant', 'AvgBill': 456.53}}

In [53]:
for key in df_dict:
    print (key)
    print (df_dict[key])
    print (df_dict[key]['name'])
    print ()

0
{'name': 'Foreign Cinema', 'type': 'Restaurant', 'AvgBill': 289.0}
Foreign Cinema

1
{'name': 'Liho Liho', 'type': 'Restaurant', 'AvgBill': 224.0}
Liho Liho

2
{'name': '500 Club', 'type': 'bar', 'AvgBill': 80.5}
500 Club

3
{'name': 'The Square', 'type': 'bar', 'AvgBill': 25.3}
The Square

4
{'name': 'The Lighthouse', 'type': 'bar', 'AvgBill': 15.3}
The Lighthouse

5
{'name': "Al's Place", 'type': 'Restaurant', 'AvgBill': 456.53}
Al's Place

### 5. Last resort - DataFrame.iloc
I didn't even want to put this one on here. I don't want to give you ideas. This method is crude and slow. I bet you $5 of AWS credit there is a faster way.

As a last resort, you can iterate through your DataFrame by iterating through a list, and then calling each of your DataFrame rows individually.

In [54]:
for i in range(len(df)):
    print (df.iloc[i])
    print ()
    print ("Name: {}".format(df.iloc[i]['name']))
    print ("\n")

name       Foreign Cinema
type           Restaurant
AvgBill               289
Name: 0, dtype: object

Name: Foreign Cinema


name        Liho Liho
type       Restaurant
AvgBill           224
Name: 1, dtype: object

Name: Liho Liho


name       500 Club
type            bar
AvgBill        80.5
Name: 2, dtype: object

Name: 500 Club


name       The Square
type              bar
AvgBill          25.3
Name: 3, dtype: object

Name: The Square


name       The Lighthouse
type                  bar
AvgBill              15.3
Name: 4, dtype: object

Name: The Lighthouse


name       Al's Place
type       Restaurant
AvgBill        456.53
Name: 5, dtype: object

Name: Al's Place