In [2]:
import pandas as pd

### Pandas Find | pd.Series.str.find()
Say you have a series of strings and you want to find the position of a substring.

Pandas .find() will return the location (number of characters from the left) of a certain substring. Let's look at an example.

First, create a series of strings. Note: You can also do this with a column in a pandas DataFrame

In [23]:
my_string_series = pd.Series(['San Francisco',
                              'Chicago',
                              'Traveling',
                              'Pandas',
                              'Remote Worker'], name="string_series")

Now say we want to find if and where the substring "**cago**" sit within each string in our series. In order to do this, we call .find("cago")

In [24]:
find_result = my_string_series.str.find("cago") # Calling .find and passing "cago"
find_result.name = "find_result" # naming the series so we can call it later
find_result # displaying the results

0   -1
1    3
2   -1
3   -1
4   -1
Name: find_result, dtype: int64

In order to view the output easily, let's concat our original series with the result

In [25]:
pd.concat([my_string_series, find_result], axis=1)

   string_series  find_result
0  San Francisco           -1
1        Chicago            3
2      Traveling           -1
3         Pandas           -1
4  Remote Worker           -1

Notice how San Francisco, Traveling, Pandas, and Remote Worker all **return -1** for .find(). This is because the substring "cago" does not exist within those strings.

However, "Chicago" returns 3. This is because "cago" starts at position 3 within Chicago!

Let's try some more. This time, I want to find the first instance of the letter "o" within our series of strings

In [26]:
find_result = my_string_series.str.find("o")
pd.concat([my_string_series, find_result], axis=1)

   string_series  string_series
0  San Francisco             12
1        Chicago              6
2      Traveling             -1
3         Pandas             -1
4  Remote Worker              3

Now it looks like Traveling & Pandas do not contain "o" (good thing, because they don't contain it) while SF, Chiago, and Remote Worker do.

What if I only wanted to search a series of strings between the 3rd and 8th character? Then we would pass a start= and end=

In [27]:
find_result = my_string_series.str.find("o", start=3, end=8)
pd.concat([my_string_series, find_result], axis=1)

   string_series  string_series
0  San Francisco             -1
1        Chicago              6
2      Traveling             -1
3         Pandas             -1
4  Remote Worker              3

In this case, San Francisco does contain the letter "o", but not between characters 3 through 8, so .find() returns -1 for San Francisco. Chicago and Remote Worker both return results.