In [1]:
import pandas as pd

### Pandas To Numpy
Pandas is wonderful for handling your datasets, but you may find it lacks in the statistical analysis power you need. This where it comes in handy to convert your DataFrame to a NumPy Array

Let's run through 2 examples:
1. Converting a DataFrame to Numpy Array
2. Converting a DataFrame to Numpy Array and setting NA values.

First, let's create a DataFrame

In [10]:
df = pd.DataFrame([('Foreign Cinema', 'Restaurant', pd.NA),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', pd.NA, 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df

             name        type AvgBill
0  Foreign Cinema  Restaurant    <NA>
1       Liho Liho  Restaurant     224
2        500 Club         bar    80.5
3      The Square        <NA>    25.3

### 1. Converting a DataFrame to Numpy Array
To turn your DataFrame into a NumPy array, simply call .to_numpy()

The way to show it's a NumPy is by calling 'type()'. Check out how 'x' is a numpy.ndarray

In [12]:
x = df.to_numpy()
x

array([['Foreign Cinema', 'Restaurant', <NA>],
       ['Liho Liho', 'Restaurant', 224.0],
       ['500 Club', 'bar', 80.5],
       ['The Square', <NA>, 25.3]], dtype=object)

In [13]:
type(x)

numpy.ndarray

### 2. Converting a DataFrame to Numpy Array and setting NA values.
If your data has NA values in it, you can specify what you want to fill them with through *na_value.*

Here I'll set my NAs to "SF"

In [15]:
y = df.to_numpy(na_value='SF')
y

array([['Foreign Cinema', 'Restaurant', 'SF'],
       ['Liho Liho', 'Restaurant', 224.0],
       ['500 Club', 'bar', 80.5],
       ['The Square', 'SF', 25.3]], dtype=object)