### Pandas Name Error

You might see the following error in your code: NameError: name 'pandas' is not defined

Pandas **NameError** can be annoying. It generally means you have *not* imported pandas, or if you did, you're not calling the right name or alias

Let's check out some examples:
1. Invoking the error
2. Fixing via 'pandas'
3. Fixing w/ alias

First let's *try* to create a DataFrame...

In [2]:
pandas.DataFrame([('Foreign Cinema', 'Restaurant'),
                   ('Liho Liho', 'Restaurant'),
                   ('500 Club', 'bar'),
                   ('The Square', 'bar')],
           columns=('name', 'type')
                 )

NameError: name 'pandas' is not defined

Oh no! 'pandas' is not defined. Why is that? Well, let's see if we've imported pandas.

Checking...

Oh whoops, no we haven't. Let make sure to import it

In [3]:
import pandas

Ok let's try that again now that we've imported pandas

In [4]:
pandas.DataFrame([('Foreign Cinema', 'Restaurant'),
                   ('Liho Liho', 'Restaurant'),
                   ('500 Club', 'bar'),
                   ('The Square', 'bar')],
           columns=('name', 'type')
                 )

             name        type
0  Foreign Cinema  Restaurant
1       Liho Liho  Restaurant
2        500 Club         bar
3      The Square         bar

Nice! Now it works because python now has 'pandas' in it's namespace.

But sometimes I'm lazy, and 'pandas' is about 4 characters more than I want to type out. I'm going to use an alias. 

Aliases are shorter strings that represent a longer string. Kind of like a variable, but for packages.

Here I'm going to use 'pd' (the most common alias of pandas) as an alias.

In [5]:
import pandas as pd

Now that I've done that, I'm able to use 'pd' instead of pandas when I'm calling the library

In [6]:
pd.DataFrame([('Foreign Cinema', 'Restaurant'),
                   ('Liho Liho', 'Restaurant'),
                   ('500 Club', 'bar'),
                   ('The Square', 'bar')],
           columns=('name', 'type')
                 )

             name        type
0  Foreign Cinema  Restaurant
1       Liho Liho  Restaurant
2        500 Club         bar
3      The Square         bar

If I wanted to use another alias, no problem, just define it in your import again.

In [7]:
import pandas as data_independent_is_awesome

In [8]:
data_independent_is_awesome.DataFrame([('Foreign Cinema', 'Restaurant'),
                   ('Liho Liho', 'Restaurant'),
                   ('500 Club', 'bar'),
                   ('The Square', 'bar')],
           columns=('name', 'type')
                 )

             name        type
0  Foreign Cinema  Restaurant
1       Liho Liho  Restaurant
2        500 Club         bar
3      The Square         bar